* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  
.chat-container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin: 0 5px;
}

.title_text {
    width: 100%;
    float: left;
    color: #184850;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 0px;
}

.chat-box {
    padding: 20px;
    height: 420px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.user {
    background-color: #d1f7c4;
    align-self: flex-end;
}

.ai {
    background-color: #e1e1e1;
    align-self: flex-start;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    background-color: #1abf1d;
}
